<div class='container'>
  <form>
    <fieldset class='form-group'>
      <legend>Calculator IO Sibling - pass data between siblings</legend>
      <div class='form-group'>
        <label for="x">First Number </label>
        <input name="x" type='number' class="form-control" value="8" #x>
      </div>
      <div class='form-group'>
        <label for="y">Second Number</label>
        <input name="y" type='number' class="form-control" value="10" #y>
      </div>

      <button (click)="addNumbers(x, y)" class="btn btn-primary">Add</button>
    </fieldset>
  </form>
</div>